

/workspaces/nginx_tutorial/ssl_http2_11
/workspaces/nginx_tutorial/ssl_http2_11/default
/workspaces/nginx_tutorial/ssl_http2_11/docker-compose.yml
/workspaces/nginx_tutorial/ssl_http2_11/nginx.conf

./ssl_http2_11
ssl_http2_11

#11